.description {
    width: 1000px;
    font-weight: lighter;
}
.movie-screenshots {
    margin: 5px;
    height: 200px;
}
.info{
    margin-block: 5px;
    line-height: 0px;
}
.info-line{
    font-weight: lighter;
}
.anchors{
 display: grid;
 font-size: large;
}
img{
    width: 350px;
    height: 200px;
    border: 2px solid black;
}
